*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial, sans-serif;
}
.about{
    background: #f2f3f4;
    display: flex;
    padding: 3rem 0;
}
.about__heading{
    font-size: 1.125rem;
    color: #150654;
    margin-bottom: 1rem;
}
.about__item{
    padding: 2rem;
    margin: 1rem;
    border-radius: .5rem;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    line-height: 1.5;
}